/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2e2e2e; /* Dark gray background */
    color: #f4f4f4; /* Light text color */
}

/* Container for the entire content */
.container {
    text-align: center;
    background: #3b3b3b; /* Slightly lighter gray for container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
    width: 100%; /* Make container take full width */
    max-width: 1400px; /* Adjust the maximum width of the container */
    margin: auto;
}

/* Input section for the stock ticker and button */
.input-section {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%; /* Adjust the input width */
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #666; /* Darker border for input */
    border-radius: 4px;
    background-color: #4a4a4a; /* Dark gray input background */
    color: #f4f4f4; /* Light text inside input */
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #999999; /* Light grey button */
    color: #333333; /* Dark grey font */
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #777777; /* Darker grey on hover */
}

/* Canvas container for the chart */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%; /* Make the canvas responsive */
    max-height: 80vh; /* Ensure the chart doesn't overflow vertically */
    height: auto;
    width: auto;
}

/* Styling for the current price box */
.price-box {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #999999; /* Light grey */
    color: #333333; /* Dark grey text */
    border-radius: 4px; /* Square off the edges */
    display: inline-block;
    text-align: center;
    width: auto;
    margin: 0 auto; /* Center horizontally */
    padding-left: 30px;
    padding-right: 30px;
}

/* Position call and put interest around the current price box */
.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.interest-box, .ticker-box {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1); /* Light translucent background */
    padding: 10px;
    border: 2px solid #666; /* Darker border */
    border-radius: 8px;
    color: white; /* Light text for better contrast */
    margin: 0 20px;
}

.interest-box span, .ticker-box span {
    font-size: 16px;
}

/* Media Query for small screens */
@media (max-width: 768px) {
    input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}


